In [2]:
x = 'two'
y = x + 'one'
print x,y

two twoone